
.home-blog .home-blog-wrapper{
    flex-direction: row-reverse;
}
.home-blog .home-blog-wrapper .info-wrapper{
    margin-left:0;
    margin-right:15px;
}
.page .sub-sidebar-wrapper li.level-3[data-v-5f54e4e2],.page .sub-sidebar-wrapper li.level-2[data-v-5f54e4e2]{
    padding-left: 0.9rem;
}

.page{
    padding-left:14rem;
    padding-right:0;
}

.page .side-bar{
    left:2rem;
}

.home-blog .home-blog-wrapper .info-wrapper .category-wrapper .category-item a .post-num{
    background-color: rgb(171, 189, 129) !important;
}
.categories-wrapper .category-wrapper .category-item a .post-num[data-v-0838f247]{
    background-color: rgb(52, 152, 219) !important;
}

.tags span {
    background-color: rgb(52, 152, 219) !important;
}

@media screen and (max-width: 720px) {
    .theme-container.no-sidebar .page{
        padding-left:0;
    }
}